<!--
  Generated template for the AliadosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Aliados</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: lightgreen;">

<!--
    <ion-grid>
      <button color="light" style="height: 7em; border-radius: 10px;" ion-button (click)="goToSlides()"><img src="http://www.recyvald.cl/wp-content/uploads/2019/05/RecyVald_720px.png"><a href="http://www.recyvald.cl"></a></button>
      <ion-row>
          <ion-col size="6">
              <button color="light" style="height: 7em; border-radius: 10px;" ion-button (click)="goToMap()"><img src="https://scontent.fccp2-1.fna.fbcdn.net/v/t1.0-9/40510747_261235081168414_2875639896419074048_n.jpg?_nc_cat=107&_nc_oc=AQnq-5zIvTto2_N-PP2Cz6N9_j3c6Dxrk4WQId9OI4qVBHWitzKpFStnLNUlHDpOj54&_nc_ht=scontent.fccp2-1.fna&oh=7d2e5a99686d4f1553710d3b20370c0c&oe=5DBAA3A0"></button>
          </ion-col>
          <ion-col size="6">
              <button color="light" style="height: 7em; border-radius: 10px;" ion-button (click)="goToReport()"><img src="https://scontent.fccp2-1.fna.fbcdn.net/v/t1.0-9/53165229_305983296756732_4442238816886980608_n.jpg?_nc_cat=102&_nc_oc=AQl4abXsmMyUr7PvkfoSxhUWiIvJhYw0a1-TtlnQwsfLp65kDQzwW5OMXZP8QLI9QnI&_nc_ht=scontent.fccp2-1.fna&oh=16e9a6ab196fe8a37af3fb209bc4846f&oe=5DB07B1C"></button>
          </ion-col>
      </ion-row>
      <button color="secondary" style="height: 7em; border-radius: 10px;" ion-button (click)="goToFriends()"><img src="https://valdiviasinbasura.cl/wp-content/uploads/2019/04/logo-cooperativa-blanco.png"></button>
    </ion-grid>
  -->

    <ion-chip style="width: 100%; height: 5em; border-radius: 30px;">
      <ion-avatar style="size: 100%; width: 5em;height: 5em">
	<img src="https://lamanzana.coop/wp-content/uploads/2020/12/logoLaManzana-medio.png">
      </ion-avatar>
      <ion-label>Cooperativa La Manzana</ion-label>
    </ion-chip>

    <ion-chip style="width: 100%; height: 5em; border-radius: 30px;">
      <ion-avatar style="size: 100%; width: 5em;height: 5em">
        <img src="http://www.ingenieria.uach.cl/images/innoving/cubosI2030.png">
      </ion-avatar>
      <ion-label>Proyecto InnovING 2030</ion-label>
    </ion-chip>

    <ion-chip style="width: 100%; height: 5em; border-radius: 30px;">
      <ion-avatar style="size: 100%; width: 5em;height: 5em">
        <img src="https://www.losrioscb.cl/templates/yootheme/cache/MunicipalidaddeValdivia-logo-b8ef1765.png">
      </ion-avatar>
      <ion-label>I. Municipalidad de Valdivia</ion-label>
    </ion-chip>
    
    <!-- 
    <br>
    <ion-chip style="width: 100%; height: 5em; border-radius: 30px;">
      <ion-avatar style="size: 100%; width: 5em;height: 5em">
        <img src="http://www.recyvald.cl/wp-content/uploads/2019/05/RecyVald_720px.png">
      </ion-avatar>
      <ion-label>RECYVALD</ion-label>
    </ion-chip>
    
    <br>

    <ion-chip style="width: 100%; height: 5em; border-radius: 30px;">
      <ion-avatar style="size: 100%; width: 5em;height: 5em">
        <img src="/assets/imgs/grunKompost.jpg">
      </ion-avatar>
      <ion-label>GRÜN KOMPOST</ion-label>
    </ion-chip>
    
    <br>

    <ion-chip style="width: 100%; height: 5em; border-radius: 30px;">
      <ion-avatar style="size: 100%; width: 5em;height: 5em">
        <img src="/assets/imgs/circula.jpg">
      </ion-avatar>
      <ion-label>CIRCULA</ion-label>
    </ion-chip>
    
    <br>

    <ion-chip style="width: 100%; height: 5em; border-radius: 30px;">
      <ion-avatar style="size: 100%; width: 5em;height: 5em">
        <img src="/assets/imgs/valdiviasinbasura.png">
      </ion-avatar>
      <ion-label>VALDIVIA SIN BASURA</ion-label>
    </ion-chip>
    
    <br>
    -->
</ion-content>
