<ion-header>
  <ion-navbar>
    <ion-title>
      Ruta Camión Recolector
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


<!-- Input with placeholder -->

<div id="mapId" style="width: 100%; height: 100%">
</div>

<!--
<TABLE>
<td>
  <ion-input type="text" placeholder="Ingrese calle o sector"></ion-input>
</td>
<td>  
<button ion-button color="primary">Ver</button>
</td>
</TABLE>
-->

</ion-content>