<ion-header>

  <ion-navbar>
    <ion-title>Reportar Microbasural</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding style="background-image: url('assets/imgs/valdivia.jpg'); background-size: cover;">

  <ion-card style="border-radius:10px; opacity: 0.5;">
    <ion-card-content style="text-align: justify;">
      Si ve un microbasural REPÓRTELO y el departamento de Aseo y Ornato de la Municipalidad lo solucionará en breve
    </ion-card-content>
  </ion-card>

  <br>

  <form [formGroup]="authForm" (ngSubmit)="submitForm(authForm.value)" style="background-color: white; border: solid lightyellow 3px; border-radius: 10px; opacity: 0.8;"><br>
    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-input type="text" placeholder="John Petrucci" style="color: #39C701;" [formControl]="authForm.controls['name']"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>R.U.N.:</ion-label>
      <ion-input type="text" placeholder="11111111-1" style="color: #39C701;" [formControl]="authForm.controls['dni']"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>E-mail:</ion-label>
      <ion-input type="text" placeholder="sucorreo@dominio.com" style="color: #39C701;" [formControl]="authForm.controls['mail']"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Teléfono:</ion-label>
      <ion-input type="number" placeholder="912345678" style="color: #39C701;" [formControl]="authForm.controls['phone']"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Ubicación:</ion-label>
      <ion-input type="text" placeholder="Calle, sector, ciudad" style="color: #39C701;" [formControl]="authForm.controls['location']"></ion-input>
    </ion-item>
    <ion-item>
      <div class="form-group">
        <input type="button" value="Subir Foto" onClick="uploadFile()" class="rm-button" />
      </div>
    </ion-item>
    <!--
    <ion-item> 
        <button ion-button (click)="takePicture('camera')">
          <ion-icon name="camera"></ion-icon>
        </button>
        <p>Subir foto</p>
    </ion-item>
    -->
    <ion-grid>
      <!--<button color="medium" size="full" ion-button (click)="logForm()">ENVIAR</button>-->
      <button mode="md" color="formButton" type="submit" button-md ion-button block tappable>ENVIAR</button>
    </ion-grid>
  </form>

</ion-content>
