<ion-header>
  <ion-navbar>
    <ion-title>
      Contacto
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-image: url('assets/imgs/valdivia.jpg');">
  <ion-list>
    <ion-list-header>Si ves un microbasural, <b>¡denuncia!</b></ion-list-header>
    <ion-item>
      <ion-icon name="trash" item-start></ion-icon>
      <button ion-button color="primary">Reportar Microbasural</button>
    </ion-item>
  </ion-list>

  <br>
</ion-content>


<ion-footer>      
  <ion-item>
    <p style="text-align: center;">www.ciudadlimpia.cl</p>
  </ion-item>
</ion-footer>