
<ion-header>
  <ion-navbar>
    <ion-title color="primary" align="center">Ciudad LimpiApp</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding style="background-image: url('assets/imgs/valdivia.jpg'); background-size: cover;">

<!-- 
  **This is a phone call test button, uncomment it just if you are sure to use it**
  <a button href="tel:+56986009201" clear>
    <ion-icon name="call"></ion-icon>
  </a>
-->
<ion-grid>
  <button color="secondary" style="height: 5em; border-radius: 10px;" ion-button (click)="goToSlides()">Conoce CiudadLimpiApp</button>
  <button color="danger" style="height: 5em; border-radius: 10px;" ion-button (click)="goToMap()">Seguimiento de Recolector</button>
  <button color="micro" style="height: 5em; border-radius: 10px;" ion-button (click)="goToReport()">Reportar Microbasural</button>
  <button color="services" style="height: 5em; border-radius: 10px;" ion-button (click)="goToFriends()">Proyectos amigos</button>
</ion-grid>

</ion-content>
<!--
<ion-footer>
  <p style="text-align: center; color: orangered;">Ciudad LimpiApp 2019, Valdivia-Chile</p>
</ion-footer>
-->