<!--
  Generated template for the SlidesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Conoce CiudadLimpiApp</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-image: url('assets/imgs/valdivia.jpg');">

    <ion-slides pager="true">

        <ion-slide>
          <img style="width: 90%; max-width: 350px;" src="assets/imgs/logoCLcolor.png">
        </ion-slide>
    
        <ion-slide>
          <ion-card>
            <p style="text-align: justify;">
              Esta es una app de prueba de <code>Ciudad LimpiApp</code>, ¡y Esperamos estar online muy pronto!
            </p>
          </ion-card>
        </ion-slide>
      
        <ion-slide>
          <ion-card>
            <p style="text-align: justify;">
              Puedes estar atento(a) a nuestras Redes Sociales para saber más acerca de <code>Ciudad LimpiApp</code>,
              y estar informado(a) del lanzamiento y actualizaciones.
            </p>
          </ion-card>
        </ion-slide>
      
        <ion-slide>
          <ion-card>
            <p style="text-align: center;">Saludos,</p>
            <p style="text-align: center;">El maravilloso equipo de <code><b>Ciudad LimpiApp</b></code></p>
          </ion-card>
        </ion-slide>
    
        <ion-slide>
          <ion-card>
            <p style="text-align: center;">Te invitamos a conocer</p>
            <p style="text-align: center;">a algunos de nuestros 
                <button color="secondary" style="width: 80%; height: 3em; border-radius: 10px;" ion-button (click)="goToFriends()"><code><b>amigos y proveedores<br>de servicios</b></code></button></p>
          </ion-card>
        </ion-slide>
      </ion-slides>

</ion-content>
